<html>

<head>
  <title>JavaMations!</title>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/animation.js"> </script>
</head>


<body>

<h1>Welcome to the World of Animations!</h1>

<button id="ex1">Press to Move Right</button>
<button id="ex2">Press to Move Left</button>
<button id="ex3">Toggle Height</button>
<button id="ex4">Make it Bigger</button>
<button id="ex5">Make it Smaller</button>
<button id="ex6">View Your Message</button>
<button id="ex7">Press for Magic</button>

<br>
<br>
<br>

<div
style="background-color: #880f00; height: 150px; width: 150px; position: absolute; font-size:0%;">You rang?

</div>

</body>

</html>
