<html>

<head>
  <title>JavaMations!</title>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/animation.js"> </script>
</head>


<body>

<h1>Welcome to the World of Animations!</h1>

<button id="ex1">Press to Move</button>
<button id="ex2">Toggle Height</button>
<button id="ex3">Press for Magic</button>

<br>
<br>
<br>

<div
style="background-color: #880f00; height: 150px; width: 100px; position: absolute;">

</div>











</body>






</html>
